<div id="movie-container">
  {{#each movies as |movie| }}
  <div class="movie-boxes">
    <h2>
      <a href="/movie/{{movie.id}}">{{movie.title}}</a>
    </h2>
    <a class="poster-box" href="/movie/{{movie.id}}">
      <img src="{{movie.imageLink}}" alt="{{movie.title}} Poster">
    </a>
    <a class="secondary-button" href="{{movie.trailerLink}}" target="_blank">
      <img src="../images/arrow-4.svg" alt="Play Link">
      <p>Watch Trailer</p>
    </a>
    <p>
      {{movie.description}}   
    </p>
    <a class="main-action-btn" href="/movie/{{movie.id}}">
      Get Tickets
    </a>
  </div>
  {{/each}}
</div>